body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-container {
  display: flex;
  justify-content: space-around;
  gap: 32px;
}

.options-container {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.result {
  margin-top: 32px;
  margin-bottom: 32px;
}
